.know-me {
  border-radius: 10px;
  background-color: #023F52;
  color: antiquewhite;
  font-family: 'Fauna One', serif;
  font-size: 16px;
}
}
}
.know-me:hover {
  box-shadow: 0px 0px 8px #00a14b;
}
