header.jumbotron {
  background: url("Images/background.jpg") no-repeat scroll;
  background-size: cover;
  height: 290px;
  padding: 0;
  margin-bottom: 0;
}
div.content {
  background-color: #023F52;
}
div.welcome.text-center {
  width: 40%;
  height: 110px;
  margin: 40px auto 20px;
  padding: 15px 10px;
  box-sizing: border-box;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  border-radius: 5px;

}
div.welcome.text-center h1 {
  color: white;
  margin: 10px auto 15px;
  text-shadow: 2px 1px 10px black;
}
div.welcome.text-center h5 {
  color: white;
  letter-spacing: 3px;
  margin: 10px auto;
  text-shadow: 2px 1px 10px black;
}
