div.profile {
  width: 350px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;

}
#card-bg-img {
  height: 150px;
  background: url("Images/prof_card_top_image.png") no-repeat center;
  background-size: cover;
  border-radius: 15px;
}
img.avatar {
  width: 140px;
  border-radius: 100%;
  border: 6px solid white;
  position: absolute;
  top: 70px;
  right: 105px;
}
div.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}
div.profile-info h6 {
  color: black;
}
div.description {
  margin-top: 20px;
}
div.profile ul > li > i {
  color: black;
  font-size: 40px;
  margin: 10px;
}
div.profile ul > li > i.fa-facebook-square {
  color: #38529A;
}
div.profile ul > li > i.fa-linkedin {
  color: #0073B1
;
}
