@import "page_background.css";
@import "hero_section.css";
@import "button.css";
@import "profile_card.css";
@import "navbar.css";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body {

}
h1, h4, h6 {
  font-family: 'Cinzel', serif;
  color: white;
}
p {
  font-family: 'Fauna One', serif;
}
